header {
  position: sticky;
  top: 0;
  padding: 0.3rem;
  background-color: #cfcaca;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  header h1 {
    font-size: 2em;
    position: relative;
    padding: 13px; }
  header .botonCarrito {
    border: none;
    color: #202123;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    transition: all .3s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::before, *::after {
  box-sizing: inherit; }

html {
  scroll-behavior: smooth; }

body {
  background: #d8d8d8;
  color: black;
  font-family: "rubik"; }

.productos {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto;
  align-content: center; }
  .productos .producto {
    width: 300px;
    height: 300px;
    background-color: rgba(97, 89, 89, 0.4);
    display: flex;
    margin: 10px auto;
    border: 1px solid silver;
    border-radius: 5px; }
    .productos .producto .img {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .productos .producto .img img {
        height: 90%; }
        .productos .producto .img img:hover {
          transform: translateX(20px) rotate(20deg);
          transition: 800ms; }
    .productos .producto .especificaciones {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: black;
      width: 50%; }
      .productos .producto .especificaciones button {
        width: 80px;
        height: 30px;
        background: rgba(0, 0, 0, 0.82);
        font-weight: bold;
        color: #d8d8d8;
        border: 1px solid silver;
        border-radius: 5px;
        cursor: pointer; }
        .productos .producto .especificaciones button:hover {
          background-color: rgba(4, 215, 14, 0.76);
          color: black;
          transition: 800ms; }

.vendidos h2 {
  font-size: 1.5em;
  margin: 50px 50px; }

.contacto {
  margin: 50px 50px; }
  .contacto h2 {
    font-size: 1.5em; }
  .contacto form {
    min-height: 300px;
    max-height: 500px;
    min-width: 280px;
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: rgba(49, 48, 53, 0.288);
    color: black; }
    .contacto form label {
      margin: 10px 10px; }
    .contacto form input {
      margin: 10px 10px;
      background: none;
      border: none;
      border-radius: 15px;
      outline: none;
      font-size: 1em;
      padding: 5px 10px; }
      .contacto form input:hover {
        animation: shadow 800ms 1; }
    .contacto form textarea {
      max-width: 80%;
      min-height: 30px;
      margin: 10px 10px;
      background: none;
      border: none;
      border-radius: 15px;
      outline: none;
      font-size: 1em;
      padding: 5px 10px; }
      .contacto form textarea:hover {
        animation: shadow 800ms 1; }
    .contacto form button {
      margin: 10px 10px;
      width: 120px;
      height: 50px;
      align-self: center;
      background: none;
      border: none;
      border-radius: 15px;
      outline: none;
      font-size: 1.5em; }
      .contacto form button:hover {
        animation: shadow 800ms 1;
        background: #339be6; }

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(25, 146, 216, 0.694); }
  100% {
    box-shadow: 0 0 8px 16px rgba(216, 25, 114, 0); } }

@media (min-width: 678px) {
  .contacto h2 {
    font-size: 2em; } }

footer {
  width: 90%;
  margin: 20px auto; }
  footer .yo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(192, 192, 192, 0.518);
    padding: 10px 0px; }
    footer .yo h3 {
      width: 50px; }
    footer .yo ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none; }
      footer .yo ul li {
        padding-left: 20px; }
        footer .yo ul li .instagram {
          color: black;
          text-decoration: none; }
          footer .yo ul li .instagram:hover {
            border-bottom: 2px solid rgba(236, 21, 228, 0.854); }
        footer .yo ul li .facebook {
          color: black;
          text-decoration: none; }
          footer .yo ul li .facebook:hover {
            border-bottom: 2px solid rgba(21, 39, 236, 0.854); }
        footer .yo ul li .linkedin {
          color: black;
          text-decoration: none; }
          footer .yo ul li .linkedin:hover {
            border-bottom: 2px solid rgba(42, 132, 228, 0.854); }
  footer .email-footer {
    text-align: center;
    font-size: 15px; }

footer .informacion h2 {
  font-size: 2em; }

footer .informacion .autor {
  display: flex;
  flex-direction: column; }
  footer .informacion .autor img {
    width: 70%;
    height: 70%;
    margin: 30px auto; }
  footer .informacion .autor p {
    margin: 50px auto;
    font-size: 20px; }

@media (min-width: 768px) {
  footer .informacion .autor {
    flex-direction: row; }
    footer .informacion .autor img {
      width: 30%;
      height: 40%; }
    footer .informacion .autor p {
      margin: 50px auto;
      padding: 20px;
      text-align: center; } }

.tituloProductos {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }
  .modal-contenedor .modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s; }
    .modal-contenedor .modal-carrito .h3 {
      color: royalblue;
      padding-bottom: 5px; }
    .modal-contenedor .modal-carrito #carritoCerrar {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
      color: royalblue;
      border: none;
      background-color: white; }

.modal-active {
  opacity: 1;
  visibility: visible; }
