@import "../variables/variables";

header{
.logo{
    //FLEX
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(rgba(72, 63, 233, 0.694),rgba(0,0,0,0));
h1{ 
    height: 70px;
    font-size: $titulo;
    background:linear-gradient(30deg rgba(0, 0, 0, 0.9));
    position: relative;
    top: 10px;
}
img{
    height: 70px;
}
}
nav{
    margin: 50px 20px;
    ul{
    //NORMALICE
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    list-style-type: $nada;
    font-size: 1.2em;
        li{
            gap:10px;
            //FLEX
            display: flex;
            justify-content: center;
            align-content: center;
            a{
            display: flex;
            justify-content: center;
            align-items: center;
            color:$color-2;
            text-decoration: none;
            height: 50px;
            width: 150px;
            border: $borde-2;
            border-radius: 5px;
            &:hover{
                background-color: rgb(51, 155, 230);
                color: $color-2;
                transition: all 500ms ease;
                border: 1px solid white;
                animation: shadow-pulse 800ms 1 ;
            }
        }
    }
}
}
}

@keyframes shadow-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(25, 146, 216, 0.694);
    }
    100%{
        box-shadow: 0 0 8px 16px rgba(216, 25, 114, 0);
    }
}

@media (min-width:1024px){
    header{
        nav{
            ul{
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: 1fr;
                li{
                    a{  
                        font-size: 1.5em;
                        width: 200px;
                    }
                }
            }
        }
    }
}