footer{
    .informacion{
        padding-top: 6rem;
        h2{
            font-size:2em;
        }
        .autor{
            display: flex;
            flex-direction: column;
        img{
            width: 70%;
            height: 70%;
            margin: 30px auto;
        }
        p{  
            margin: 50px auto;
            font-size: 20px;
        }
    }
    }
}

@media (min-width:768px){
    footer{
        .informacion{
            .autor{
                flex-direction: row;
                img{
                    width: 30%;
                    height: 40%;
                }
                p{  
                    margin: 50px auto;
                    padding: 20px;
                    text-align: center;
                }
            }

        }
    }
}