@import "../variables/variables";
.productos{
    display:grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    margin:50px auto ;
    align-content: center;
    h2{
            font-size:1.5em;
            text-align: left;
    }
    .card{
        width: 300px;
        height: 300px;
        background-color: rgba(97, 89, 89, 0.4);
        display: flex;
        margin: 10px auto;
        border: $borde-2;
        border-radius: 5px;
        .img{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 90%;
                &:hover{
                    transform: translateX(20px) rotate(20deg);
                    transition: 800ms;
                }
            }
        }
        .especificaciones{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: $color-2;
            width: 50%;
            button{
                width: 80px;
                height: 30px;
                background: rgba(0, 0, 0, 0.82);
                font-weight: bold;
                color: $color;
                border: 1px solid silver;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    background-color: rgba(4, 215, 14, 0.76);
                    color:$color-2;
                    transition: 800ms;
                }
            }
        }
    }
}

@media (min-width:768px) {
    .productos{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "card-1 card-2"
        "card-3 card-4"
        "card-a card-b"
        "card-c card-d"
        ;
    }
    h2{
        grid-area: titulo;
    }
    .card-1{
        grid-area:card-1;
    }
    .card-2{
        grid-area:card-2;
    }
    .card-3{
        grid-area:card-3;
    }
    .card-4{
        grid-area:card-4;
    }
    .card-a{
        grid-area:card-a;
    }
    .card-b{
        grid-area:card-b;
    }
    .card-c{
        grid-area:card-c;
    }
    .card-d{
        grid-area:card-d;
    }
}

@media (min-width:1024px) {
    .productos{
        grid-template-areas: 
        "card-1 card-2 card-3"
        "card-4 card-a card-b"
        "card-c card-d ."
        ;
    }
}

