div{
    div{
        .tabla{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: 50%;
            margin:20px auto;
            thead{
                tr{
                display:flex;
                justify-content: space-between;
                padding: 10px;
                }
            }
            tbody{
                tr{
                display:flex;
                justify-content: space-between;
                padding: 10px;
                }
            }
        }
    }
}